@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
}
.space-grotesk-600 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.space-grotesk-400 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.space-grotesk-800 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.ql-code-block-container{
  background-color: #23241f;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0;
}
.ql-code-block{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.content {
  font-size: 0.875rem;
  font-weight: 500;
  word-break: break-all;
}

.content h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.fadein {
  animation: fadeIn ease 1.4s;
  display: flex;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.content h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.content h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --diffaccent: 214.3,31.8%,91.4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --diffaccent: 214.3,31.8%,91.4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.movinggradient {
  background: linear-gradient(to top right, #2C3E5080 , #4ca2af80 );
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.pingpulseborder {
  animation: pingpulse 2s infinite;
}
.pingpulseborderyellow {
  animation: pingpulseyellow 2s infinite;
}
.onzoomers:hover .zoomerfollow{
  transition: all 0.3s ease-in-out;
  transform: translateX(10px);
}
.zoomerfollow{
  transition: all 0.3s ease-in-out;
  transform: translateX(0px);
}
@keyframes marquee {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-60%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
  white-space: nowrap;
  display: flex;
}
.bg{
    content: "";
    display: block;
    inset: 0px 0px -20px;
    background-size: 40px 40px;
}
nav a {
  position: relative;
}

nav a span {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav a:hover span,
nav a.active span {
  transform: scaleX(1);
}

.bgfader {
  content: "";
  display: block;
  inset: 0px 0px -20px;
  z-index: 0;
  background-image: linear-gradient(rgba(245, 192, 192, 0.15) 1px, transparent 1px), linear-gradient(to right, rgba(245, 192, 192, 0.15) 1px, transparent 1px);
  background-size: 40px 40px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
}
.bgmain{
    content: "";
    display: block;
    inset: 0px 0px -20px;
    background-size: 40px 40px;
}
.darkbg{
    content: "";
    display: block;
    inset: 0px 0px -20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 1px), linear-gradient(to right, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
    background-size: 40px 40px;
}
.bgimage:before {
  background-image: url(/bkg-noise.webp);
  display: block;
  pointer-events: none;
  position: absolute;
  inset: 0px;
  opacity: 0.05;
  content: "";
  background-repeat: repeat;
  background-size: 200px 200px;
}
.mainstopper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.mainstopper:hover .animate-marquee {
  animation-play-state: paused;
}

.mainstopper > div {
  display: flex;
}

.pingersuccessbought{
  animation: pingpulsebuy 2s ease-in-out 8;
}
@keyframes pingpulsebuy {
  0%{
    border: cyan 2px solid;
    box-shadow: 0 0 0 0 rgba(0, 238, 255, 0.4);
  }
  100%{
    border: cyan 2px solid;
    box-shadow: 0 0 0 25px rgba(238, 255, 0, 0);
  }
}

@keyframes pingpulseyellow {
  0%{
    border: yellow 2px solid;
    box-shadow: 0 0 0 0 rgba(255, 255, 0, 0.4);
  }
  100%{
    border: yellow 2px solid;
    box-shadow: 0 0 0 15px rgba(255, 255, 0, 0);
  }
}
.cl-internal-1hp5nqm, .cl-internal-1dauvpw{
  display: none !important;
}
.ql-editor {
  color: var(--foreground) !important;
}
.ql-editor.ql-blank:before {
  color: white;
}
.scrollbaredit::-webkit-scrollbar{
  width: 10px;
}
.scrollbaredit::-webkit-scrollbar-thumb{
  background: var(--accent-foreground);
  border-radius: 10px;
}
.scrollbaredit::-webkit-scrollbar-track{
  background: var(--accent-foregroun);
}

@keyframes pingpulse {
  0%{
    border: red 2px solid;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
  100%{
    border: red 2px solid;
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
      animation: none !important;
      transition-duration: 0s !important;
  }
}

.backgroundmovaroon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.backgroundmovaroon::before {
  content: "Preview Preview Preview Preview";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.1); /* Light text color */
  pointer-events: none;
  white-space: nowrap;
  z-index: -1;
}

.backgroundmovaroon {
  background-size: 50px 50px;
}
.borderspincard .inner {
  margin: 2px;
}
.spinnercard {
  width: 100%;
  height: 100%;
  margin: 100px auto;
  border-radius: 0.375rem;
}

.spinnercard .inner {
  padding: 25px;
  width: 100%;
  height: auto;
  background: #222;
  color: #fff;
  border-radius: 0.375rem;
}
.borderspincard {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.borderspincard::before {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    rgba(7, 191, 197, 0) 0%,
    rgba(7, 191, 197, 0.75) 50%,
    rgba(7, 191, 197, 0) 100%
  );
  height: 350px;
  width: 100px;
  transform: translate(0);
  position: absolute;
  animation: rotate 9s linear forwards infinite;
  z-index: 0;
  top: 50%;
  transform-origin: top center;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
